.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(37, 4, 4);
  font-size: 20px;
  text-align: center;
  color: rgb(197, 11, 11);
  word-spacing: 5px;
  height: 100vh;
  font-family: Bradley Hand, cursive;
}
 
.forecasts{
  list-style-type: none;
  text-align:start;
  line-height: 1.5;
}
