 body{
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
 }
 section{
    background-color: rgb(32, 122, 92);
    
 }
 section button{
    margin : 5px 50%;
    border-radius: 10px;
    cursor: pointer;
    width: 8em;
    height: 30px;
    background-color: cadetblue;
    font-weight: bold;
    font-family: Bradley Hand, cursive;
 }
 section button:hover{
    background-color: rgb(24, 103, 105);
    transition: .3s all ease-in;
 }